# Workflow to automate installation and unit testing of rivers2stratigraphy on various python versions and operating systems

name: test

on: [push, pull_request]

jobs:
  
  test:  
    runs-on: ubuntu-latest
    steps:
    - name: Checkout rivers2stratigraphy
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-mpl pytest-cov coveralls
        pip install scipy numpy matplotlib shapely
    
    - name: Install rivers2stratigraphy
      run: |
        pip install -e .

    - name: Set up display
      run: |
        export DISPLAY=:99.0
        sudo apt install libxcb-xinerama0 pyqt5-dev-tools
        echo "sleeping..."
        sleep 5
    - name: Test with pytest
      run: |
        pytest --mpl --mpl-results-path=tests/results --cov=rivers2stratigraphy/ --cov-report=xml
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
